.container{
    height:300px;
    width:600px;
    background-color: yellow;
    display: grid;
    /*Grid property for inlining other than container items*/
    /*display: inline-grid;*/
    /*==========Grid Template=========
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;*/

    /*==========Grid Template Repeat==========*/
    grid-template-rows:repeat(5, 1fr );
    grid-template-columns: repeat(5, 1fr);

    /*==========Grid gaps==========
    row-gap: 10px;
    column-gap: 10px;*/
    /* OR Shorthand: */
    grid-gap : 10px 10px; 

    /*************COMMON GRID PROPERTIES************
    justify-items:center;
    align-items:end;*/
    place-items:center;


}

.item{
    height:30px;
    width:50px;
    background-color: rgb(187, 23, 105);
    border:2px solid rgb(0, 0, 0);
    text-align:center;
}

.one{
        /*==========Grid columns==========
        grid-column-start: 1; 
        grid-column-end:4;
                OR
        grid-column:1/3;
                 OR
        grid-column : 1 / span 3;*/
        place-self:end;
                
}

.two{   /*now Priority will be given to 2nd item */
          /*==========Grid rows==========
        grid-rows-start: 1; 
        grid-rows-end:4;
                OR
        grid-rows:1/3;
                 OR
    grid-row : 1 / span 3;*/
    place-self:center;

}

h1{
    text-align: center;
    color: rgb(68, 202, 16);
}