div{
    width: 1200px;
    height:1000px;
    background-color: rgb(31, 27, 9);
    margin: 10px auto;
    background-image: url("BgImg.png");
    background-size:contain;                  /*   img wil repeat if size of img is smaller than the div size*/
    /*background-image: cover;                 img will croped*/
    /*background-size:auto;*/
    box-shadow: 10px 10px 200px black;

}
h1{
    font-size: 100px;
    color: rgb(100, 91, 10);
}