#colors{
    height: 200px;
    width:200px;
    background-color: green;
    border: 2px solid black;
    margin-bottom:2px;
    transition: 1s 2s ease-in-out;
}

#colors:hover{
    background-color: rgb(218, 10, 121);
}

#shapes{
    height: 200px;
    width:200px;
    background-color: green;
    border: 2px solid black;
    transition:1s 2s ease-in-out;
}

#shapes:hover{
    background-color: rgb(23, 37, 196);
    border-radius:50%;
}