/* :hover*/
button:hover{
    background-color:yellow;
    color:blueviolet;
}
h3:hover{
    
    color:red;
    text-decoration:overline;
}

/* : active*/
p:active{
    color:black;
    font-weight:bold;
}

/* :checked*/
input[type="radio"]:checked + label{
    background-color: blueviolet;
    color:hotpink;
}

/* :nth-of-type()*/
div:nth-of-type(2n){
    background-color: green ;
    font-weight:bold;
}
