/*<!--Qs1: Create a box using div with the following properties:
Height: 150px
Width: 300px
Background color: Grey
Border: 5px, black, dotted
Margin:
Top: 20px
Right: 1em
Bottom: 40px
Left: 2em
Padding: 1em on all sides-->*/

#Mybox{
    height:150px;
    width:300px;
    background-color: Grey;
    border: 5px black dotted;
    margin-top:20px 1em 40px 2em;
    padding: 1em;
}